@{
    //List<Vuelo> vuelo = ((List<Vuelo>)Model);
    //var vuelos = ((List<Vuelo>)ViewBag.vuelo);
    var vuelo = (Vuelo)Model;
}

<table class="table">
    <thead>
        <tr>
            <th>Origen</th>
            <th>Destino</th>
            <th>Aerolinea</th>
            <th>Fecha de Salida</th>
            <th>Hora de Salida</th>
            <th>Fecha de Regreso</th>
            <th>Hora de regreso</th>
            <th>Tiempo de Vuelta</th>
            <th>Núm. de Pasajes</th>
            <th>precio</th>
        </tr>
    </thead>

    <tbody>
        @{ 
            <tr>
                <td>@vuelo.Origen</td>
                <td>@vuelo.Destino</td>
                <td>@vuelo.Aerolinea</td>
                <td>@vuelo.FechaIda</td>
                <td>@vuelo.HoraSalida</td>
                <td>@vuelo.FechaRegreso</td>
                <td>@vuelo.HoraRegreso</td>
                <td>@vuelo.TiempoVuelo</td>
                <td>@vuelo.TotalPasaje</td>
                <td>@vuelo.Precio S/.</td>
            </tr>
        }



    </tbody>
</table>
