@{
    List<Vuelo> vuelo = ((List<Vuelo>)Model);
    //var vuelos = ((List<Vuelo>)ViewBag.vuelo);
    //var vuelo = (Vuelo)Model;
}

<table class="table">
    <thead>
        <tr>
            <th>Origen</th>
            <th>Destino</th>
            <th>Aerolinea</th>
            <th>Fecha de Salida/Hora</th>
            <th>Fecha de Regreso/Hora</th>
            <th>Tiempo de Vuelo</th>
            <th>Núm. de Pasajes</th>
            <th>Precio</th>
        </tr>
    </thead>

    <tbody>
        @{ foreach (var item in vuelo) { 
            <tr>
                <td>@item.Origen</td>
                <td>@item.Destino</td>
                <td>@item.Aerolinea</td>
                <td>@item.FechaIda</td>
                <td>@item.FechaRegreso</td>
                <td>@item.TiempoVuelo H</td>
                <td>@item.TotalPasaje</td>
                <td>@item.Precio S/.</td>
            </tr>
            }
        }
    </tbody>
</table>
