@{
    var vuelo = (Vuelo)Model;
}

<body class="registro">
    <div class="tm-section tm-bg-img" id="tm-section-1">
        <div class="container text-md-center">
            <div class="row justify-content-center pt-5 mt-5 mr-1">
                <div class="col-md-4 formulario">
                    <form action="/account/crearvuelo" method="post">
                        <div class="form-group text-center">
                            <h3 class="titulo">Crear Vuelos </h3>
                        </div>
                        <div class="form-group mx-sm-4 ">
                            Origen
                            <input type="text" name="Origen" class="form-control" placeholder="Origen" />
                            @Html.ValidationMessage("Origen");
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            Destino
                            <input type="text" name="Destino" class="form-control" placeholder="Destino" />
                            @Html.ValidationMessage("Destino");
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            Aerolinea
                            <input type="text" name="Aerolinea" class="form-control" placeholder="Aerolinea" />
                            @Html.ValidationMessage("Aerolinea");
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            Fecha de Salida
                            <input type="text" name="FechaIda" class="form-control" value="@vuelo.FechaIda" placeholder="Fecha de salida" />
                            @Html.ValidationMessage("FechaIda");
                        </div>
                        <div class="from-group mx-sm-4 pt-4">
                            Fecha de regreso
                            <input type="text" name="FechaRegreso" class="form-control" value="@vuelo.FechaRegreso" placeholder="Fecha de regreso" />
                            @Html.ValidationMessage("FechaRegreso");
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            Tiempo de Vuelo
                            <input type="text" name="TiempoVuelo" class="form-control" placeholder="Tiempo de Vuelo" />
                            @Html.ValidationMessage("TiempoVuelo");
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            Total Pasajes
                            <input type="number" name="TotalPasaje" class="form-control" placeholder="Total de pasajes" />
                            @Html.ValidationMessage("TotalPasaje");
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            Precio
                            <input type="text" name="Precio" class="form-control" placeholder="Precio" />
                            @Html.ValidationMessage("Precio");
                        </div>
                        <div class="form-group mx-sm-4 pb-1">
                            <input type="submit" class="btn btn-block registrara" value="Crear" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

