@{
    List<Vuelo> vuelo = ((List<Vuelo>)Model);
    //var vuelos = ((List<Vuelo>)ViewBag.vuelo);
}
   
    <table class="table">
        <thead>
            <tr>
                <th>Aerolinea</th>
                <th>Fecha de Salida</th>
                <th>Hora de Salida</th>
                <th>Fecha de Regreso</th>
                <th>Hora de regreso</th>
                <th>Tiempo de Vuelta</th>
                <th>Núm. de Pasajes</th>
                <th>precio</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in vuelo)
            {
                <tr>
                    <td>@item.Origen</td>
                    <td>@item.Destino</td>
                    <td>@item.Aerolinea</td>
                    <td>@item.FechaIda</td>
                    <td>@item.HoraSalida</td>
                    <td>@item.FechaRegreso</td>
                    <td>@item.HoraRegreso</td>
                    <td>@item.TiempoVuelo</td>
                    <td>@item.TotalPasaje</td>
                    <td>@item.Precio S/.</td>
                </tr>
            }



        </tbody>
    </table>
